body {
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.quadrado {
    width: 650px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.quadradoCadastro {
    width: 450px;
    height: 500px;
    background-color: #21459F;
    padding: 42px;
}

.display-4 {
    color: #ffffff;
}

.pota {
    color: #ffffff;
}

.form-label {
    color: #ffffff;
}
.texto {
    color: white;
}
