

.textoPI {
}
body {
    background-color: #f8fafc;
}

.container {
    padding: 2rem;
}

.slider-wrapper {
    position: relative;
    max-width: 48rem;
    margin: 0 auto;
}

.slider {
    display: flex;
    aspect-ratio: 16 / 9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 1px 1px 86px 0px rgba(0,0,0,0.22);
    -webkit-box-shadow: 1px 1px 86px 0px rgba(0,0,0,0.22);
    -moz-box-shadow: 1px 1px 86px 0px rgba(0,0,0,0.22);
    border-radius: 0.5rem;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

    
    .slider::-webkit-scrollbar {
        display: none;
    }

    .slider img {
        flex: 1 0 100%;
        scroll-snap-align: start;
        object-fit: cover;
    }

.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

    .slider-nav a {
        width: 0.5rem;
        height: 0.5rem;
        border-radius: 50%;
        background-color: #fff;
        opacity: 0.75;
        transition: opacity ease 250ms;
    }

        .slider-nav a:hover {
            opacity: 1;
        }

.cadastrar{
    color: #fff
}

.retanguloVenda {
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 1px 1px 86px 0px rgba(0,0,0,0.22);
    -webkit-box-shadow: 1px 1px 86px 0px rgba(0,0,0,0.22);
    -moz-box-shadow: 1px 1px 86px 0px rgba(0,0,0,0.22);
}

.venderProdutos {
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 1px 1px 86px 0px rgba(0,0,0,0.22);
    -webkit-box-shadow: 1px 1px 86px 0px rgba(0,0,0,0.22);
    -moz-box-shadow: 1px 1px 86px 0px rgba(0,0,0,0.22);
    margin-top:10px;
}
.vendaDeProdutos {
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 1px 1px 86px 0px rgba(0,0,0,0.22);
    -webkit-box-shadow: 1px 1px 86px 0px rgba(0,0,0,0.22);
    -moz-box-shadow: 1px 1px 86px 0px rgba(0,0,0,0.22);
    margin-top: 10px;
    margin-bottom: 10px;
}