@{
    ViewData["Title"] = "Página inicial";
}
@model HomeModel

<div class="text-center">
    <h1 class="display-4">Bem vindo</h1>
    <p class="textoPI">Aqui você poderá cadastrar seus produtos, detalhando nome do seu produto, preços, e a quantidade em estoque dele, além de poder editar seus produtos, alterando seus valores, e também os excluindo. Junto a tudo isso, você pode também vender os seus produtos.</p>
</div>
