@{
    ViewData["Title"] = "Página inicial";
}
@model HomeModel

<div class="text-center">
    <h1 class="bemvindo">Bem vindo</h1>
    <p class="textoPI">Aqui você poderá cadastrar seus produtos, detalhando nome do seu produto, preços, e a quantidade em estoque dele, além de poder editar seus produtos, alterando seus valores, e também os excluindo. Junto a tudo isso, você pode também vender os seus produtos.</p>

    <section class="container">
        <div class="slider-wrapper">
            <div class="slider">
                <img id="slide-1" src="https://plus.unsplash.com/premium_photo-1663039978847-63f7484bf701?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="3D rendering of an imaginary orange planet in space" />
                <img id="slide-2" src="https://images.unsplash.com/photo-1626132662510-34c4b521e0a0?q=80&w=1169&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="3D rendering of an imaginary green planet in space" />
                <img id="slide-3" src="https://plus.unsplash.com/premium_photo-1683321519945-5331cf4e00bc?q=80&w=2074&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="3D rendering of an imaginary blue planet in space" />
                <div class="slider-nav">
                    <a href="#slide-1"></a>
                    <a href="#slide-2"></a>
                    <a href="#slide-3"></a>
                </div>
            </div>
    </section>
